{% macro renderTree(tree, currentPath="/") %}

  {# Get ordering for this level, or empty array if none exists #}
  {% set childOrder = navigationOrder[currentPath] or [] %}

  <ul>
    {# --- FIRST PASS: render items in defined order --- #}
    {% for orderedName in childOrder %}
      {% for key, fileOrFolder in tree %}
        {% if fileOrFolder.name == orderedName %}
          <li>
            {% if fileOrFolder.children %}
              <details>
                <summary>{{ fileOrFolder.name }}</summary>
                {{ renderTree(fileOrFolder.children, currentPath + "/" + fileOrFolder.name) }}
              </details>
            {% else %}
              <a href="{{ fileOrFolder.url }}">{{ fileOrFolder.name }}</a>
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    {% endfor %}

    {# --- SECOND PASS: render anything NOT in order list --- #}
    {% for key, fileOrFolder in tree %}
      {% if fileOrFolder.name not in childOrder %}
        <li>
          {% if fileOrFolder.children %}
            <details>
              <summary>{{ fileOrFolder.name }}</summary>
              {{ renderTree(fileOrFolder.children, currentPath + "/" + fileOrFolder.name) }}
            </details>
          {% else %}
            <a href="{{ fileOrFolder.url }}">{{ fileOrFolder.name }}</a>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>

{% endmacro %}
