{% macro menuItem(fileOrFolderName, fileOrFolder, step, currentPath, navPath) %}
    {%if fileOrFolder.isNote or fileOrFolder.isFolder%}
        <div x-show="isOpen" style="display:none" class="{{'filelist' if step>0}}">
            {%if fileOrFolder.isNote and not fileOrFolder.hide %}
                <div @click.stop class="notelink {{ 'active-note' if fileOrFolder.permalink === permalink}}">
                    <a data-note-icon="{{fileOrFolder.noteIcon}}" style="text-decoration: none;" class="filename" href="{{fileOrFolder.permalink}}">{{fileOrFolder.name}} </a>
                </div>
            {% elif fileOrFolder.isFolder%}
                <div class="folder inner-folder"  x-data="{isOpen: $persist(false).as({{currentPath | dump}})}" @click.stop="isOpen=!isOpen">
                    <div class="foldername-wrapper align-icon">
                    <i x-show="isOpen" style="display: none;"  data-lucide="chevron-down"></i>
                    <i x-show="!isOpen"  data-lucide="chevron-right"></i>
                    <span class="foldername">{{fileOrFolderName}}</span>
                    </div>
                    {%- set childNavPath = navPath + "/" + fileOrFolderName -%}
                    {%- set childOrder = navigationOrder[childNavPath] -%}
                    {%- if childOrder -%}
                        {%- for orderedName in childOrder -%}
                            {%- for childName, child in fileOrFolder -%}
                                {%- if childName === orderedName -%}
                                    {{menuItem(childName, child, step+1, (currentPath+"/"+childName), childNavPath)}}
                                {%- endif -%}
                            {%- endfor -%}
                        {%- endfor -%}
                        {%- for childName, child in fileOrFolder -%}
                            {%- if childName not in childOrder -%}
                                {{menuItem(childName, child, step+1, (currentPath+"/"+childName), childNavPath)}}
                            {%- endif -%}
                        {%- endfor -%}
                    {%- else -%}
                        {%- for childName, child in fileOrFolder -%}
                            {{menuItem(childName, child, step+1, (currentPath+"/"+childName), childNavPath)}}
                        {%- endfor -%}
                    {%- endif -%}
                </div>
            {% endif %}
        </div>
        {%endif%}
    {% endmacro %}
    
    <div x-init="isDesktop = (window.innerWidth>=1000) ? true: false;"
            x-on:resize.window="isDesktop = (window.innerWidth>=1000) ? true : false;"
            x-data="{isDesktop: true, showFilesMobile: false}">
        <div x-show.important="!isDesktop" style="display: none;">
            {%include "components/filetreeNavbar.njk"%}
        </div>
        
        <div x-show="showFilesMobile && !isDesktop" @click="showFilesMobile = false" style="display:none;" class="fullpage-overlay"></div>
      <div class="filetree-wrapper" x-show.important="isDesktop || showFilesMobile" style="display: none;">
      <nav class="filetree-sidebar">
        {% for imp in dynamics.filetree.beforeTitle %}
            {% include imp %}
        {% endfor %}
         {% if meta.siteLogoPath %}
         <a href="/" style="text-decoration: none; display: flex; justify-content: center;">
                   <img class="site-logo" src="{{meta.siteLogoPath}}" alt="{{meta.siteName}}">
         </a>
         {% else %}
         <a href="/" style="text-decoration: none; text-align: center;">
                   <h1 style="text-align:center;">{{meta.siteName}}</h1>
         </a>
         {% endif %}
         {% for imp in dynamics.filetree.afterTitle %}
            {% include imp %}
        {% endfor %}
        {% if settings.dgEnableSearch === true%}
            {% include "components/searchButton.njk" %}
        {%endif%}
         <div class="folder" x-data="{isOpen: true}">
               {%- set rootOrder = navigationOrder["/"] -%}
               {%- if rootOrder -%}
                   {%- for orderedName in rootOrder -%}
                       {%- for fileOrFolderName, fileOrFolder in filetree -%}
                           {%- if fileOrFolderName === orderedName -%}
                               {{menuItem(fileOrFolderName, fileOrFolder, 0, fileOrFolderName, "")}}
                           {%- endif -%}
                       {%- endfor -%}
                   {%- endfor -%}
                   {%- for fileOrFolderName, fileOrFolder in filetree -%}
                       {%- if fileOrFolderName not in rootOrder -%}
                           {{menuItem(fileOrFolderName, fileOrFolder, 0, fileOrFolderName, "")}}
                       {%- endif -%}
                   {%- endfor -%}
               {%- else -%}
                   {%- for fileOrFolderName, fileOrFolder in filetree -%}
                       {{menuItem(fileOrFolderName, fileOrFolder, 0, fileOrFolderName, "")}}
                   {%- endfor -%}
               {%- endif -%}
         </div>
      </nav>
      </div>
    </div>
